@font-face {
    font-family: 'cardboardcardboard';
    src: url('/material/font/cardboard-webfont.eot');
    src: url('/material/font/cardboard-webfont.eot?#iefix') format('embedded-opentype'),
         url('/material/font/cardboard-webfont.woff2') format('woff2'),
         url('/material/font/cardboard-webfont.woff') format('woff'),
         url('/material/font/cardboard-webfont.ttf') format('truetype'),
         url('/material/font/cardboard-webfont.svg#cardboardcardboard') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bg-img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity:.5;
}

.media { background-image: url('/material/bg-media.jpg'); }
.food { background-image: url('/material/bg-food.jpg'); }
.transport { background-image: url('/material/bg-transport.jpg'); }
.work { background-image: url('/material/bg-work.jpg'); }
.start_bg { background-image: url('/material/bg-start.jpg'); }

body {
  background-image: url('/images/cardboard.png');
  text-align: center;
  font-family: 'cardboardcardboard';
  font-size: 30px;
  line-height: 60px;
}

.viewport-size {
  width: 1024px;
  height: 577px;
}

.viewport-width {
  width: 1024px;
}

.x0 {
  position: absolute;
  left: 0px;
}

.x1 {
  position: absolute;
  left: 2024px;
}

.x2 {
  position: absolute;
  left: 4048px;
}

.y0 {
  top: 0px;
}

.y1 {
  top: 1577px;
}

.y2 {
  top: 3154px;
}

.y3 {
  top: 4731px;
}

.y4 {
  top: 6308px;
}

#scrollcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Absolute-Center {
  padding: 50px;
  width: 800px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.detail {
  color: red;
}

.header, .footer {
  background-color: rgba(0,0,0,0.4);
}

.body {
  margin: auto;
}

.topmenu span {
	display: inline-block;
	margin: 0px 20px 5px;
	cursor: pointer;
	color: #fff;
}

.bottommenu {
  height: 75px;
}

.bottommenu div {
  position: relative;
  top: -50px;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
}

#b1 {
  background-image: url('/images/face-kay.png');
}
#b2 {
  background-image: url('/images/face-malwina.png');
}
#b3 {
  background-image: url('/images/face-martin.png');
}

.bottommenu .active1 {
  background-image: url('/images/face-kay-active.png') !important;
}
.bottommenu .active2 {
  background-image: url('/images/face-malwina-active.png') !important;
}
.bottommenu .active3 {
  background-image: url('/images/face-martin-active.png') !important;
}

.media, .media .media { margin:0 !important;}

.disabled {opacity: .3; cursor: default !important;}

#b2 {margin: 10px 200px;}

.topmenu span {border-top: 5px solid transparent; text-shadow: 0px 0px 4px #000; margin: 0px 20px 5px;}
.topmenu span.active {border-top: 5px solid #dc0000;}
